.custom-search-bar {
    background-color: #EEEFEF;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }

  .custom-search-bar:focus {
    outline: none;
    box-shadow: none;
  }

  .input-group-text {
    background-color: #EEEFEF;
    border-radius: 50px;
    border: none;
  }

  .custom-input-group {
    overflow: hidden;
  }