@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


h1,
h2,
h3,
h4
 {
    font-family: "Playfair Display", serif;
}

p{
    font-family: "Archivo", sans-serif;
}

a{
    font-family: "Archivo", sans-serif;
}

.custom-nav-link{
    font-family: "Archivo", sans-serif;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h5{
    font-family: "Archivo", sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-weight: 400;
}

h6{
    font-family: "Archivo", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
}