@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


h1,
h2,
h3,
h4
 {
    font-family: "Playfair Display", serif;
}

p{
    font-family: "Archivo", sans-serif;
}

a{
    font-family: "Archivo", sans-serif;
}

.custom-nav-link{
    font-family: "Archivo", sans-serif;
}